@import "../assets/fonts/fonts.css";

body {
    font-family: Circe-Regular, sans-serif;
    overflow-x: hidden;
}

ul {
    padding: 0;
    margin: 0;
}
ul li {
    list-style: none;
}
* {
    box-sizing: border-box;
}

a:active, /* активная/посещенная ссылка */
a:hover, /* при наведении */
a {
    text-decoration: none;
    color: #666;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
}

.hide {
    display: none;
}

/*-----HEADER-----*/

.department_dropped_item {
    display: none;
}
.department_list_item:hover {
    border-bottom: 1px solid black;
    padding-bottom: 3vw;
}
.department_list_item:hover .department_dropped_item {
    display: block;
    position: absolute;
    z-index: 99999999999;
}
.department_list_item:hover .down {
    transform: rotate(133deg);
    -webkit-transform: rotate(133deg);
}

.department_dropped_item {
    padding: 1vw;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    background-color: #ffffff;

}

.main-header {
    padding: 24px 15px 26px 15px;
}

.header_inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    padding: 10px;
}

.department {
    width: 40vw;
    height: 24px;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.department_list_item, .department_item {
    width: 14vw;
    list-style: none;
    font-size: 0.85vw;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
.department_item {
    width: 13vw;
    padding: 5px 0;
    list-style: none;
    font-size: 0.85vw;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.arrow {
    bottom: 2px;
    position: relative;
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    margin-left: 0.7vw;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 452px;

}

.info_item {
    list-style: none;
    color: #008FF4;
    font-size: 16px;
}

.call {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 159px;
    height: 50px;
    border: 1px solid #008FF4;
}

.user_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.user_menu-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    width: 20px;
    opacity: 0.25;
    border: 1px solid #B7B6B8;
    transform: rotate(90deg);
}





.main-mobile-slider, .our_progress-slider {
    display: none;
    position: relative;
    overflow: hidden;
}
.main-mobile-slider_wrapper, .our_progress-slider_wrapper {
    display: flex;
}
.main-mobile-slider_slide, .our_progress-slider_slide  {
    align-self: center;

}
.main-mobile-slider_image, .our_progress-slider_image {
    text-align: center;
    width: fit-content;

}
.main-mobile-slider_image p, .our_progress-slider_image p {
    position: absolute;
    color: #ffff;
    font-size: 3.2vw;
    bottom: 13vw;
    text-align: center;
}
.main-mobile-slider_image h2, .our_progress-slider_image h2 {
position: absolute;
color: #ffff;
    font-size: 8vw;
    bottom: 25vw;
width: 100%;
text-align: center;
}

.main-mobile-slider_image img {
max-width: 100%;
z-index: 1;
}

/*-----MAIN SLIDER-----*/
main {
    padding: 0px 15px;
}

.hide_input {
    display: none;
}


.flex-container {
    position: relative;
    height: 47.4vw;
    width: 100%;
    display: -webkit-flex;
    /* Safari */
    display: flex;
    overflow: hidden;
}
.flex-title {
    color: #f1f1f1;
    position: relative;
    font-size: 3vw;
    margin: auto;
    text-align: center;
    transform: rotate(0deg);
    top: 34vw;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.flex-title p {
    margin: 0;
}
.flex-about {
    opacity: 0;
    color: #f1f1f1;
    position: relative;
    width: 100%;
    font-size: 2vw;
    padding: 5%;
    top: 36%;
    border-radius: 10px;
    line-height: 1.3;
    margin: auto;
    text-align: left;
    transform: rotate(0deg);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.flex-slide {
    -webkit-flex: 1;
    /* Safari 6.1+ */
    -ms-flex: 1;
    /* IE 10 */
    flex: 1;
    flex-shrink: 0.5;
    margin: 0 5px;
    cursor: pointer;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.flex-slide:hover {
    -webkit-flex-grow: 3;
    flex-grow: 3;
}
.flex-slide:hover .flex-title{
    font-size: 6vw;
}
.project {
    background-image: url(../assets/img/project_full.png);
    background-size: cover;
    background-position: center center;
    /*background-attachment: fixed;*/
}
.build {
    background-image: url('../assets/img/build_full.png');
    background-size: cover;
    background-position: center center;
    /*background-attachment: fixed;*/
}
.exploitation {
    background-image:url('../assets/img/exploitation_full.png');
    background-size: cover;
    background-position: center center;
    /*background-attachment: fixed;*/
}


.change_button {
    cursor: pointer;
    padding: 1vw;
    font-size: 1.3vw;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
    z-index: 3;
    background: radial-gradient(122.69% 531.67% at -11.54% -45%, #2998FF 0%, #29F2FF 100%);
    width: 20vw;
    height: 3.3vw;
}

.change_button:hover {
    color: #ffffff;
}

.project_checked {
    display: block; /*-----CHANGE NONE on build project!!!!!!-----*/
}/*-----Our company-----*/


.our_company {
    position: relative;
    margin-top: 12.7vw;
    width: 100%;
}

.our_company_title {
    font-size: 4.2vw;
}

.our_company_text {
    width: 59vw;
    font-size: 1.52vw;
    color: #2d2d2deb;

}

.our_company_button {
    position: absolute;
    cursor: pointer;
    right: 0;
    color: #ffffff;
    background: radial-gradient(122.69% 531.67% at -11.54% -45%, #2998FF 0%, #29F2FF 100%);
    padding: 0.8vw 1vw;
    font-size: 1vw;
    bottom: 24vw;
}

.our_company_button:hover {
    color: #ffffff;
}

.our_company_blocks {
    display: flex;
    margin-top: 75px;
    box-sizing: border-box;
}

.block01, .block02, .block03, .block04, .block05, .block06 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    height: 20vw;
    max-height: 380px;
    width: 15.8vw;
    max-width: 300px;
    cursor: pointer;
}

.block01 {
    background: #EEF2F6;

}

.block_title {
    position: relative;
    width: fit-content;
    padding: 2.3vw 2.2vw;
    text-align: center;
    font-size: 3.5vw;
    margin: 0;
}

.block02 .block_title, .block04 .block_title, .block06 .block_title {
    color: #ffffff;
}

.block02 .block_text, .block04 .block_text, .block06 .block_text {
    color: #ffffff;
}

.block02 img, .block04 img, .block06 img {
    filter: invert(1)
}

.block01 .block_title, .block03 .block_title, .block05 .block_title {
    background: #EEF2F6;
}

.block02 {
    background: url("../assets/img/block02.png") no-repeat;
    background-size: 100%;
}

.block04 {
    background: url("../assets/img/block04.png") no-repeat;
    background-size: 100%;
}

.block06 {
    background: url("../assets/img/block06.png") no-repeat;
    background-size: 100%;
}

.block_footer {
    display: flex;
    justify-content: space-between;
    padding: 0.6vw 1.4vw;
}

.block_footer img {
    position: relative;
    top: 35px;
    width: 4.2vw;
    height: 4.2vw;
}

.block_text {
    width: 183px;
    height: 60px;
    font-size: 1vw;
}


 /*----- Consultation-----*/

.consult {

    margin-top: 12.7vw;
    position: relative;
    height: 37vw;
}
.logo_consult {
    position: relative;
    top: -3vw;
    left: 6vw;
    z-index: 3;
    height: 37vw;
}
.logo_consult img {
    height: 100%;
}

.consult_background {
    height: 100%;
    background: url("../assets/img/bacground_consult.png") no-repeat;
    z-index: 1;
    display: flex;
}

.consult_inner {
    position: absolute;
    left: 35vw;
    width: 56vw;
    max-width: 1064px;
    color: #ffffff;
    margin-top: 1.5vw;
}

.consult_title {
    font-size: 3.3vw;
    letter-spacing: 4px;
}
.consult_title_hide {
    display: none;
}
.consult_text {
    font-size: 1.5vw;
    margin-bottom: 40px;
}
.consult_text_hide {
    display: none;
}
.consult_phone_manager {
    display: none;
}

.consult_form-style {
    margin-bottom: 1vw;
}

.consult_phone_input {
    border: none;
    border-bottom: 1px solid #ffffff;
    background: none;
    font-size: 2vw;
    width: 25vw;
    outline:none;
    color: #ffffff;
}

.consult_phone_input:checked {
    border: none;
}
.consult_button {
    margin-left: 1vw;
    font-size: 1.1vw;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
    z-index: 3;
    background: radial-gradient(122.69% 531.67% at -11.54% -45%, #2998FF 0%, #29F2FF 100%);
    width: 11vw;
    height: 3.3vw;
    border: none;
}

.consult_label_text {
    font-size: 1vw;
    color: #BDC7D2;
}
.consult_phone_input::placeholder {
    color: #ffffff;
    font-family: 'Circe-ExtraLight'
}
.consult_checkbox:checked,
.consult_checkbox:not(:checked)
{
    position: absolute;
    left: -9999px;
}

.consult_checkbox:checked + .consult_label_text,
.consult_checkbox:not(:checked) + .consult_label_text {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

.consult_checkbox:checked + .consult_label_text:before,
.consult_checkbox:not(:checked) + .consult_label_text:before{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 16px;
    height: 16px;
    border: 1px solid #dddddd;
    background-color: #d3cbcb;
}

.consult_checkbox:checked + .consult_label_text:before,
.consult_checkbox:not(:checked) + .consult_label_text:before {
    border-radius: 2px;
}


.consult_checkbox:checked + .consult_label_text:after,
.consult_checkbox:not(:checked) + .consult_label_text:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.consult_checkbox:checked + .consult_label_text:after,
.consult_checkbox:not(:checked) + .consult_label_text:after {
    left: 2px;
    top: 2px;
    width: 12px;
    height: 12px;
    border: 1px solid black;
    background: radial-gradient(376.15% 1137.3% at -162.5% -105.32%, #2998FF 0%, #29F2FF 100%),linear-gradient(
            0deg, #C4C4C4, #C4C4C4);
}


.consult_checkbox:not(:checked) + .consult_label_text:after {
    opacity: 0;
}

.consult_checkbox:checked + .consult_label_text:after{
    opacity: 1;
}

/*----- Our progress-----*/

.our_progress {

}
.our_progress_title_inner {
    display: flex;
    position: relative;
}
.our_progress_line {
    position: relative;
    bottom: 4.6vw;
    width: 23vw;
    border-bottom: 1px solid #1A181E;
    margin-right: 10px;
}
.our_progress_title {
    font-size: 4.2vw;
}
.our_progress_inner {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
}
.our_progress_inner_item {
    position: relative;
    width: 23.2vw;
    max-height: 470px;
    background: #EEF2F6;
    margin: 10px 10px;
}
.our_progress_item1 {
    position: relative;
    left: 50%;
}
.our_progress_img_bgi {
    width: 12.62vw;
    max-width: 210px;

}
.our_progress_img_bgi5 {
    width: 23.5vw;
    max-width: 430px;
}
.our_progress_inner_item .img {
    position: relative;
    margin-top: 3vw;
    margin-left: 1.5vw;
    margin-bottom: 6vw;
    width: 5.37vw;
}
.our_progress_inner_item p:nth-child(even) {
    font-size: 1.25vw;
    margin: 0 0 0 1.6vw;
}
.our_progress_inner_item p:nth-child(3) {
    font-size: 4.2vw;
    margin: 0 0 0 1.6vw;
}

.our_progress_inner_item:nth-child(1), .our_progress_inner_item:nth-child(5) {
    background: #ffffff;
}
.our_progress_inner_item:nth-child(2), .our_progress_inner_item:nth-child(4) {
    /*flex-grow: 1;*/
    width: 45.16%;
}
.project_pagination span {
    display: none;
    width: 4vw;
    height: 0.5vw;
    border-radius: 0;
}

/*-----Our projects slider-----*/

.our_projects {
    position: relative;
    margin-top: 12.7vw;
    width: 100%;
}
.our_projects_title_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our_projects_button {
    cursor: pointer;
    color: #ffffff;
    background: radial-gradient(122.69% 531.67% at -11.54% -45%, #2998FF 0%, #29F2FF 100%);
    padding: 0.8vw 1vw;
    font-size: 1vw;
}

.our_projects_button:hover {
    color: #ffffff;
}

.image-slider {
    position: relative;
    overflow: hidden;
}
.image-slider_wrapper {
    display: flex;
}
.image-slider_slide {
margin: 0 5px;
    align-self: center;

}
.image-slider_image {
text-align: center;
width: fit-content;

}
.image-slider_image p {
    z-index: 3;
    position: absolute;
    color: #ffff;
    max-width: 527px;
    font-size: 1.9vw;
    bottom: 0;
    margin: 0 0 2vw 1vw;
    text-align: initial;
}
.image-slider_image img {
max-width: 100%;
    z-index: 1;
}

.slider-button-next {
position: absolute;
right: 11vw;
bottom: 5vw;
z-index: 5;
}
.slider-button-next img {
width: 8vw;
}

.project_pagination {
    display: flex;
    justify-content: center;
}

.our_projects_button-mobile {
    text-align: center;
    display: none;
    cursor: pointer;
    color: #ffffff;
    background: radial-gradient(122.69% 531.67% at -11.54% -45%, #2998FF 0%, #29F2FF 100%);

}

/*-----Height corporate standards-----*/
.standards{
    margin-top: 12.7vw;
}

.standards_inner {
    display: flex;
    justify-content: space-between;
}
.standards_item {
    width: 24vw;
    max-width: 450px;
    position: relative;
    padding: 10px;
}
.standards_item img{
    width: 100%;
}

.standards_title{
    font-size: 1.54vw;
    margin-bottom: 10px;
}
.standards_title, .standards_text {
   position: absolute;
    top: 36%;
    padding: 0 2vw;
}
.standards_text {
    position: absolute;
    font-size: 1.1vw;
    color: #68646F;
    top: 58%;
    line-height: initial;
}

/*-----Our objects-----*/

.our_objects {
    margin-top: 8.7vw;
}

.our_objects_text {
    font-size: 1.9vw;
    padding-left: 24vw;
}
.city_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 24vw;
    margin-bottom: 5vw;
    max-width: 1311px;
}

.city_list-mobile {
    display: none;
    width: 80%;
    margin: 0 7vw 3vw;
    border: 1px solid #F1F0F1;
    color: #1A181E;
}

.city_item {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-top: 3px;
    margin-bottom: 3px;
    border-bottom: 1px solid #EEF2F6;
    width: 22vw;
    max-width: 411px;
    font-size: 1.08vw;
    height: 2vw;
}
.city_item:hover {
    font-weight: bold;
     background: #F9FAFB;
    padding-left: 10px;
 }


.arrow_right_city {
    display: none;
    position: relative;
    top: 3px;
    width: 1vw;
    height: 0.8vw;
    margin-right: 8px;
}
.city_item:hover .arrow_right_city {
    display: block;
}

.city_item a {
    padding: 3.5px 0;

}

/* -----map style-----*/

.ya_map {
    font-size: 12px;
    color: #454545;
}

#map {
    width: 100%;
    height: 38vw;
    margin: 0 auto;
}

.ymaps-2-1-79-balloon {
    position: absolute;
    z-index: 1;
    padding: 1px;
    box-shadow: inset 0 0 0 1px rgb(0 0 0), 0 5px 15px -7px rgb(0 0 0);
}

.map-slider {
    position: relative;
    overflow: hidden;
    z-index: 99999;
}
.map-slider_wrapper {
    display: flex;
}
.map-slider_slide {
    margin: 0 5px;
    align-self: center;

}
.map-slider_image {
    text-align: center;
    width: fit-content;

}

.map_control{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    align-items: center;
    background: rgba(20, 28, 37, 0.75);
    box-shadow: 0px 10px 20px rgba(20, 28, 37, 0.25);
}

.map_text {
    color: #ffffff;
    max-width: 527px;
    font-size: 0.9vw;
    bottom: 0;
    padding: 0 0 0vw 1vw;
    text-align: initial;
}
.map_button_img img {
    max-width: 100%;
}

.map_button_img {
    left: 17vw;
}
.slider-button-next img {
    width: 8vw;
}

.map-slider .swiper-pagination {
    bottom: 0;
}
.map-slider .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    background-color: #bf0e0e;
}

.map-slider .swiper-pagination-fraction {
    font-size: 20px;
    background-color: #bf0e0e;
}

/*-----Career-----*/

.career_inner {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 12.7vw;
}
.career_bg {
    display: flex;
    position: absolute;
    background-color: #EEF2F6;
    width: 73.7vw;
    height: 52.7vw;
    right: 0;
    z-index: 1;
}
.career {
    position: relative;
    z-index: 4;
    padding: 11vw 1vw 0 4vw;
    width: 100%;
}

.career h3 {
    margin: 0;
}
.career_inner div img {
    position: relative;
    top: 7vw;
    width: 43.2vw;
    z-index: 4;
}
.career p {
    font-size: 1.25vw;
    color: #68646F;
    margin-bottom: 4vw;
    line-height: initial;
}
.social {
    align-self: center;
    width: 57%;
}
.social h3, .career h3 {
    font-size: 4.2vw;
    position: relative;
    z-index: 8;
}

.career_button, .news_button {
    cursor: pointer;
    position: relative;
    right: 0;
    color: #ffffff;
    background: radial-gradient(122.69% 531.67% at -11.54% -45%, #2998FF 0%, #29F2FF 100%);
    padding: 1vw 3vw;
    font-size: 1.1vw;
}
.news_button {
    margin-right: 20vw;
}
.career_button:hover {
    color: #ffffff;
}

.career_text {
    display: flex;
    justify-content: space-between;
}
.career_text div h4 {
    font-size: 2.2vw;
}
.career_text div p {
    font-size: 1.08vw;
}
.company_mission, .company_values {
    flex-basis: 47%;
}

/*-----Social-----*/

.social_inner {
    display: flex;
    justify-content: space-between;
}
.social_img img {
    position: relative;
    z-index: 4;
    width: 35.53vw;
    margin-right: 3vw;
}
.social_text {
    padding: 0 2vw;
    font-size: 1.25vw;
    color: #68646F;
    margin-bottom: 4vw;
    line-height: initial;
}

.social_text-first {
    margin-bottom: 2vw;
}

/*-----Fake news-----*/
.news{
    margin-top: 8vw;
}
.news_bg {
    background-color: #EEF2F6;
}
.news_title_inner {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}
.news_title_style {
    display: flex;
}
.news_line {
    position: relative;
    bottom: 4.6vw;
    width: 23vw;
    border-bottom: 1px solid #1A181E;
    margin-right: 10px;
}

.news_filters {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 24.5vw;
    height: 3.2vw;
    border: 1px solid #000;
    border-radius: 2vw;
    padding: 5px 0;
}

.filters_button {
    color: #000000;
    padding: 1vw 1vw;
    font-size: 1vw;
}

.filters_button:hover {
    cursor: pointer;
    background-color: #000000;
    color: #ffffff;
    border-radius: 2vw;
}

.news-slider {
    position: relative;
    overflow: hidden;
}
.news-slider_wrapper {
    display: flex;
}
.news-slider_slide {
    margin: 0 5px;

}
.news-slider_image {
    text-align: center;
    width: fit-content;
background-color: #ffffff;
}
.newsDate {
    position: absolute;
    font-size: .73vw;
    padding: 1.1vw;
    margin: 0 0 0 1.5vw;
    background: rgba(20, 28, 37, 0.75);
    color: #ffffff;
}
.newsText {
    z-index: 3;
    color: #000000;
    max-width: 527px;
    height: 8vw;
    font-size: 1.5vw;
    bottom: 0;
    text-align: initial;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.8vw;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.news-slider_image img {
    max-width: 100%;
    z-index: 1;
}
.news-slider_wrapper_control {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
}
.news-button-prev img , .news-button-next img {
    width: 3.5vw;
}
.news-slider .news-pagination {
    bottom: 0;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1vw;
}

.news-slider_wrapper_control .swiper-pagination-bullet {
    width: 1vw;
    height: 1vw;
    background-color: #000000;
    margin: 0 0.2vw !important;
}

/*-----Question-----*/

.question {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: url(../assets/img/question/questiom_bg.png) no-repeat;
    margin-top: 14.5vw;
    background-size: cover;
}
.question_title {
    width: 30.5vw;
    max-width: 579px;
    margin-top: 3vw;
}
.question_title h2 {
    font-size: 6.3vw;
    color: #ffffff;
    margin: 0;
    line-height: 6vw;
    letter-spacing: 0.3vw;
}
.question_title p {
    font-size: 1.65vw;
    color: #A2AFBD;
}
.question_img img{
    width: 18.4vw;
}
.question_form-style {
    margin-bottom: 1vw;
}
.question_form form div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 3vw;
}

.question_phone_input {
    border: none;
    border-bottom: 1px solid #ffffff;
    background: none;
    font-size: 2vw;
    width: 23vw;
    outline: none;
    color: #ffffff;
    margin-bottom: 2vw;
}

.question_phone_input:checked {
    border: none;
}
.question_button {
    margin-left: 1vw;
    font-size: 1.1vw;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
    z-index: 3;
    background: radial-gradient(122.69% 531.67% at -11.54% -45%, #2998FF 0%, #29F2FF 100%);
    width: 11vw;
    height: 3.3vw;
    border: none;
}

.question_label_text {
    font-size: 1vw;
    color: #A2AFBD;
}

.question_checkbox:checked,
.question_checkbox:not(:checked)
{
    position: absolute;
    left: -9999px;
}

.question_checkbox:checked + .question_label_text,
.question_checkbox:not(:checked) + .question_label_text {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

.question_checkbox:checked + .question_label_text:before,
.question_checkbox:not(:checked) + .question_label_text:before{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 16px;
    height: 16px;
    border: 1px solid #dddddd;
    background-color: #d3cbcb;
}

.question_checkbox:checked + .question_label_text:before,
.question_checkbox:not(:checked) + .question_label_text:before {
    border-radius: 2px;
}


.question_checkbox:checked + .question_label_text:after,
.question_checkbox:not(:checked) + .question_label_text:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.question_checkbox:checked + .question_label_text:after,
.question_checkbox:not(:checked) + .question_label_text:after {
    left: 2px;
    top: 2px;
    width: 12px;
    height: 12px;
    border: 1px solid black;
    background: radial-gradient(376.15% 1137.3% at -162.5% -105.32%, #2998FF 0%, #29F2FF 100%),linear-gradient(
            0deg, #C4C4C4, #C4C4C4);
}


.question_checkbox:not(:checked) + .question_label_text:after {
    opacity: 0;
}

.question_checkbox:checked + .question_label_text:after{
    opacity: 1;
}

/*-----Footer-----*/
.footer_inner {
    font-size: 0.84vw;
    width: 95vw;
    margin: 0 auto;
    padding: 2vw 0;
}

.footer_social, .footer_company_links, .footer_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_social, .footer_company_links {
    margin-top: 1vw;
}
.footer_social .header_logo img {
    width: 6vw;
}

.footer_social-links {
    display: flex;
}
.footer_social-links_items a img {
    width: 3vw;
}
.privacy_policy{
    color: #C1C1C1;
    border-bottom: 1px solid #C1C1C1;
    margin-right: 1vw;
}

.footer_bottom-items {
    padding-right: 1vw;
}
.footer_bottom-items:first-child {
    border-right: 1px solid #FAFBFC;
}
.footer_link-item {
    position: relative;
    background-color: #FAFBFC;
    padding: 0 0.4vw;
}
.faq_img {
    margin-left: 1vw;
}
.faq_img img{
    position: relative;
    top: 0.3vw;
}
.footer_hide {
    display: none;
}
.footer_contact_hide {
    display: none;
}


/* -----Callback modal----- */
.callback_btn {
    cursor: pointer;
    color: #008FF4;
}

.callback_btn:hover {
    color: #008FF4;
}

.callback_modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /*overflow: auto; !* Enable scroll if needed *!*/
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    backdrop-filter: blur(8px);
    max-height: 100vh;
    overflow: hidden
}
.modal-content {
    position: relative;
    display: flex;
    background-color: #ffffff;
    margin: auto;
    padding: 0;
    /*border: 5px solid #7B1FA2;*/
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.modal_tittle {
    font-size: 2.54vw;
}
.modal_input {
    border: none;
    border-bottom: 1px solid #000000;
    background: none;
    font-size: 1.6vw;
    width: 23vw;
    outline: none;
    color: #000000;
    margin-bottom: 2vw;
}
.modal_input:checked {
    border: none;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    width: 23vw;
    padding: 1vw 0;
    border: none;
    background-color: #EEF2F6;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-size: 0.95vw;
}
.custom-file-upload img {
    position: relative;
    top: 0.4vw;
    width: 1.58vw;
}
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
.modal_img img {
    width: 24.5vw;
}
.modal_submit {
    margin: 1vw 0;
    font-size: 1.1vw;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
    z-index: 3;
    background: radial-gradient(122.69% 531.67% at -11.54% -45%, #2998FF 0%, #29F2FF 100%);
    width: 11vw;
    height: 3.3vw;
    border: none;
}
.close {
    position: absolute;
    right: 0;
    color: #040404;
    font-size: 2vw;
    border: 1px solid #000000;
    border-radius: 1vw;
    width: 2vw;
    height: 2vw;
    margin: 1vw;
    text-align: center;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-body {padding: 6vw 1vw;}

/*-----ADAPTIVE STYLE-----*/

@media (max-width: 1698px) {
    .consult_title {
        font-size: 3.2vw;
    }
}

@media (max-width: 1560px) {
    .department {
        display: none;
    }
}

@media (max-width: 1120px) {
    .consult_inner {
        margin-top: 0;
    }
}

@media (max-width: 855px) {
    .info {
        display: none;
    }
    .consult_text {
        margin-bottom: 10px;
    }
    .logIn {
        display: none;
    }
}

@media (max-width: 479px) {
    .main-header {
        position: absolute;
        background-color: #ffff;
        width: 90%;
        z-index: 4;
        margin-left: 5vw;
        margin-top: 5vw;
        padding: 0;
    }
    .header_logo img{
        width: 17vw;
    }
    .flex-container {
        display: none;
    }
    .change_button {
        position: absolute;
        left: 9%;
        top: 83%;
        width: 80%;
        height: 8%;
        font-size: 2vw;
    }
    .user_menu {
        font-size: 0;
    }
    .logIn {
        display: none;
    }
    .line {
        display: none;
    }
    .main-mobile-slider_image h2{
        font-size: 6vw;
    }
    .accordion {
        display: none;
    }
    .main-mobile-slider {
        display: block;
    }
    .our_company_button {
        display: none;
    }
    .our_company_blocks{
        flex-direction: column;
    }
    .our_company_text {
        width: 100%;
        font-size: 4.52vw;
    }
    .block01, .block02, .block03, .block04, .block05, .block06 {
        display: flex;
        height: 76vw;
        max-height: 260px;
        width: 93.8vw;
        max-width: 320px;
    }
    .block01, .block03, .block05 {
        background: #EEF2F6;
    }
    .block_title {
        padding: 9.3vw 11.2vw;
        font-size: 11.5vw;
        margin: 0;
    }

    .block_text {
        font-size: 4vw;
        margin: 0;
    }

    .block_footer img {
        width: 17.2vw;
        height: 17.2vw;
        top: 0;
    }

    .logo_consult {
        display: none;
    }

    .consult {
        margin-top: 12.7vw;
        position: relative;
        height: 130vw;
        max-height: 575px;
    }
    .consult_background {
        height: 100%;
    }
    .consult_inner {
        left: 0;
        width: 100%;
        text-align: center;
        padding: 2vw 2vw;
    }
    .consult_title {
        display: none;
    }
    .consult_title_hide {
        display: block;
        font-size: 7.2vw;
        letter-spacing: 4px;
    }
    .consult_text {
        font-size: 4.5vw;
        margin-bottom: 12vw;
    }
    .consult_text_hide {
        display: block;
        font-size: 4.5vw;
        margin-bottom: 40px;
    }
    .consult_phone_manager {
        display: block;
        font-size: 8vw;
        color: #00FEEF;
    }
    .consult_form-style {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .consult_phone_input {
        font-size: 5vw;
        width: 90%;
    }
    .consult_checkbox:checked + .consult_label_text:before, .consult_checkbox:not(:checked) + .consult_label_text:before {
        width: 4vw;
        height: 4vw;
    }
    .consult_checkbox:checked + .consult_label_text:after, .consult_checkbox:not(:checked) + .consult_label_text:after {
        left: 1px;
        width: 3vw;
        height: 3vw;
    }
    .our_company_title {
        font-size: 8.2vw;
    }
    .consult_button {
        font-size: 4.1vw;
        width: 90%;
        height: 9.3vw;
        margin-top: 4vw;
    }
    .consult_label_text {
        font-size: 3vw;
        margin-top: 2vw
    }
    .our_progress-slider{
        display: block;
    }
    .our_progress_inner {
        display: none;
    }
    .standards_inner {
        display: block;
    }

    .standards_item {
        width: 90vw;
        max-width: 320px;
    }

    .standards_title {
        font-size: 5.54vw;
    }

    .standards_text {
        font-size: 4.1vw;
    }

    .slider-button-next img {
        display: none
    }

    .project_pagination span {
        display: block;
    }

    .image-slider_image p {
        z-index: 3;
        position: absolute;
        color: #ffff;
        width: 86vw;
        font-size: 4.9vw;
        bottom: 0;
        padding: 1vw 2vw;
        text-align: center;
    }
    .our_projects_button {
        display: none;
    }
    .our_projects_button-mobile {
        display: block;
        padding: 3vw 1vw;
        font-size: 3vw;
        position: relative;
        top: 4vw;
    }

    .city_item {
        display: none;
    }
    .city_list:hover .city_item {
        display: block;
    }
    .city_list-mobile {
        display: block;
    }
    .our_progress_line {
        display: none;
    }
    .our_progress_title {
        font-size: 8.2vw;
    }
    .our_objects_text {
        font-size: 5.9vw;
        padding: 0;
    }
    #map {
        width: 100%;
        height: 320px;
    }

    .career {
        padding: 11vw 7vw;
    }

    .career_inner {
        display: block;
        position: relative;
        margin-top: 12.7vw;
    }

    .career_bg {
        position: absolute;
        background-color: #EEF2F6;
        width: 91.7vw;
        height: 100%;
    }
    .career_inner div img {
        top: -5vw;
        width: 78.2vw;
        left: 6vw;
    }
    .career_button, .news_button {
        padding: 2vw 31vw;
        font-size: 2.2vw;

    }
    .career_button {
        left: 2vw;
    }
    .news_button {
        margin-top: 5vw;
        order: 1;
        margin-right: 0;
    }
    .career_text{
        display: block;
        position: relative;
        top: 3vw;
    }
    .career p {
        font-size: 4.1vw
    }
    .career_text div h4 {
        font-size: 5.2vw;
    }
    .career_text div p {
        font-size: 4.1vw;
    }
    .social {
        width: 100%;
    }
    .social_inner {
        flex-direction: column;
    }
    .social_img {
        order: -1;
    }
    .social_img img {
        width: 92vw;
    }
    .social h3, .career h3 {
        font-size: 10.2vw;
    }
    .social_text {
        font-size: 4.1vw;
    }
    .news-slider_wrapper_control {
        margin-bottom: 4vw;
        flex-direction: column;
    }
    .news-button-next, .news-button-prev {
        display: none;
    }
    .news-pagination span{

    }
    .news-slider_wrapper_control .swiper-pagination-bullet {
        background-color: #29afff;
        width: 4vw;
        height: 0.5vw;
        border-radius: 0;
    }

    .news_line {
        display: none;
    }
    .news_title_inner {
        display: flex;
        flex-direction: column;
    }
    .news_filters {
        width: 82vw;
        height: 5vw;
        margin-bottom: 2vw;
    }
    .newsDate {
        font-size: 4vw;
        padding: 5vw;
    }
    .newsText {
        font-size: 3.5vw;
        height: 14vw;
    }
    .filters_button {
        font-size: 2.8vw;
        padding: 1px 3px;
    }
    .question {
        display: block;
    }
    .question_img {
        text-align: end;
    }
    .question_img img {
        width: 41.4vw;
    }
    .question_title {
        position: relative;
        width: 100%;
        margin: 0 6vw;
        bottom: 38vw;
    }
    .question_title h2 {
        font-size: 13.3vw;
        line-height: 9vw;
        letter-spacing: 1.3vw;
    }
    .question_title p {
        font-size: 5.65vw;
    }
    .question_phone_input {
        font-size: 5vw;
        width: 77vw;
        margin-bottom: 9vw;
    }
    .question_form {
        position: relative;
        bottom: 20vw;
    }
    .question_form form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .question_form form div {
        padding: 0 3vw;
        text-align: center;
    }
    .question_button {
        position: relative;
        bottom: 8vw;
        font-size: 4.1vw;
        width: 88%;
        margin: 0 6%;
        height: 8.3vw;
    }
    .question_checkbox:checked + .question_label_text:after, .question_checkbox:not(:checked) + .question_label_text:after {
        width: 3vw;
        height: 3vw;
    }
    .question_checkbox:checked + .question_label_text:before, .question_checkbox:not(:checked) + .question_label_text:before {
        width: 4vw;
        height: 4vw;
    }
    .question_label_text {
        font-size: 3.3vw;
    }
    .question_checkbox:checked + .question_label_text, .question_checkbox:not(:checked) + .question_label_text {
        margin: 0 5%;
        top: 12vw;
    }
    .footer_social .header_logo img {
        width: 23vw;
    }
    .privacy_policy {
        display: none;
    }
    .footer_inner {
        padding: 0 4vw;
    }
    .footer_social-links_items a img {
        width: 8vw;
    }
    .footer_company_links, .footer_bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
       .footer_bottom-items {
        padding-right: 1vw;
        display: flex;
        width: 100%;
        flex-direction: column;
        border-top: 1px solid #F1F0F1;
        border-bottom: 1px solid #F1F0F1;
    }
    .footer_top {
        display: none;
        color: #666;
    }
    .footer_link-item {
        background-color: #ffffff;
        font-size: 3vw;
        padding: 1vw;
    }
    .faq_img {
        width: 100%;
        font-size: 2.5vw;
        color: #666;
    }
    .faq_img img {
        top: 1vw;
        width: 4vw;
    }
    .footer_hide {
        display: block;
        font-size: 3vw;
        width: 115%;
        color: #666;
        background-color: #EEF2F6;
        padding: 0 6vw;
    }
    .footer_social-links_items a {
        margin: 0 1vw;
    }

    .footer_contact_hide {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }
    .footer_contact_withUs {
        font-size: 3vw;
        color: #666;
        padding: 1vw;
    }
    .footer_contact_withUs-tel {
        font-size: 4vw;
        color: #25A4FF;
    }



    .callback_modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 5; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        /*overflow: auto; !* Enable scroll if needed *!*/
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        backdrop-filter: blur(8px);
        max-height: 100vh;
        overflow: hidden
    }
    .modal-content {
        width: 85%;
    }
    .modal_tittle {
        font-size: 4.54vw;
        margin: 0 0 0 2vw;
    }
    .modal_input {
        border: none;
        border-bottom: 1px solid #000000;
        background: none;
        font-size: 1.6vw;
        width: 23vw;
        outline: none;
        color: #000000;
        margin-bottom: 2vw;
    }
    .modal_input:checked {
        border: none;
    }
    input[type="file"] {
        display: none;
    }
    .custom-file-upload {
        width: 23vw;
        padding: 1vw 0;
        border: none;
        background-color: #EEF2F6;
        display: inline-block;
        cursor: pointer;
        text-align: center;
        font-size: 0.95vw;
    }
    .custom-file-upload img {
        width: 2.58vw;
    }
    @-webkit-keyframes animatetop {
        from {top:-300px; opacity:0}
        to {top:0; opacity:1}
    }
    @keyframes animatetop {
        from {top:-300px; opacity:0}
        to {top:0; opacity:1}
    }
    .modal_img img {
        width: 33.5vw;
    }
    .modal_submit {
        margin: 1vw 0;
        font-size: 1.1vw;
        font-style: normal;
        font-weight: normal;
        color: #ffffff;
        z-index: 3;
        background: radial-gradient(122.69% 531.67% at -11.54% -45%, #2998FF 0%, #29F2FF 100%);
        width: 11vw;
        height: 3.3vw;
        border: none;
    }
    .close {
        font-size: 6vw;
        width: 6vw;
        height: 6vw;
    }
    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
    .modal-body {padding: 6vw 1vw;}
    .modal-body .question_form {
        bottom: 0;
    }
    .modal-body .question_form form .question_form-style .modal_input{
        font-size: 4.6vw;
        width: 42vw;
    }
    .modal-body .question_form form .question_form-style .custom-file-upload{
        margin-top: 2vw;
        width: 43vw;
        font-size: 2.5vw;
    }
    .modal-body .question_form form .question_checkbox:not(:checked) + .question_label_text  {
        margin: 0 5%;
        top: 0;
        font-size: 1.5vw;
    }
    .modal-body .question_form form .question_checkbox:checked + .question_label_text{
        top: 0;
        font-size: 1.5vw;

    }



















}

@media (max-width: 392px) {
    .block_text {
        font-size: 4.4vw;
        margin: 0;
    }
}
@media (max-width: 340px) {
    .block_title {
        padding: 9.3vw 9.2vw;
        font-size: 19.5vw;
        margin: 0;
    }
    .block_footer {
        padding: 4.6vw 1.4vw;
    }
}

@media (max-width: 292px) {
    .career_button {
        padding: 2vw 33vw;
    }
}
@media (max-width: 269px) {
}
@media (min-width: 1561px) {
    .department_item:hover {
        border-bottom: 1px solid #666;
    }
}






