@import "assets/fonts/fonts.css";

body {
    font-family: Circe-Regular, sans-serif;
}

ul {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

a:active, /* активная/посещенная ссылка */
a:hover, /* при наведении */
a {
    text-decoration: none;
    color: #666;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
}

.hide {
    display: none;
}

/*-----HEADER-----*/

header {
    padding: 24px 15px 26px 15px;
}

.header_inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    padding: 10px;
}

.department {
    width: 706px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.department_item {
    list-style: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.arrow {
    bottom: 2px;
    position: relative;
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    margin-left: 5px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 452px;

}

.info_item {
    list-style: none;
    color: #008FF4;
    font-size: 16px;
}

.call {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 159px;
    height: 50px;
    border: 1px solid #008FF4;
}

.user_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.user_menu-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    width: 20px;
    opacity: 0.25;
    border: 1px solid #B7B6B8;
    transform: rotate(90deg);
}

/*-----MAIN SLIDER-----*/
main {
    padding: 0px 15px;

}

.main_slider {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.slider_item {
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
    height: 47.4vw;
}

.slider_item img {
    max-width: 100%;
    z-index: 1;
}

.slider_item:nth-child(odd) {
    margin: 0 10px;
}

.slider_title {
    position: absolute;
    font-size: 3vw;
    font-style: normal;
    font-weight: bold;
    color: #ffffff;
    top: 78%;
    text-align: center;
    z-index: 3;
}

/*------ONCLICK IMAGE------*/

.full_img {
    max-width: 1540px;
    z-index: 1;
}

.minProject_img, .minBuild_img, .minExploitation_img {
    max-width: 120px;
    z-index: 1;
}

.slider_main_title {
    position: absolute;
    font-size: 6vw;
    font-style: normal;
    font-weight: bold;
    color: #ffffff;
    top: 30%;
    left: 3%;
    text-align: center;
    z-index: 3;
}

.slider_title-rotate {
    position: absolute;
    font-size: 2.6vw;
    font-style: normal;
    font-weight: bold;
    color: #ffffff;
    top: 68%;
    text-align: center;
    z-index: 3 !important;
    transform: rotate(-90deg);
}

.change_text {
    position: absolute;
    font-size: 2.1vw;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
    top: 60%;
    left: 3%;
    z-index: 3;
    width: 62vw;
}

.change_button {
    position: absolute;
    font-size: 1.3vw;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
    top: 86%;
    left: 4%;
    z-index: 3;
    background: radial-gradient(122.69% 531.67% at -11.54% -45%, #2998FF 0%, #29F2FF 100%);
    width: 20vw;
    height: 3.3vw;
}

/*-----Our company-----*/

.project_checked {
    display: none;
}

.our_company {
    position: relative;
    margin-top: 12.7vw;
    width: 100%;
}

.our_company_title {
    font-size: 72px;
}

.our_company_text {
    width: 59vw;
    font-size: 24px;
}

.our_company_button {
    position: absolute;
    right: 0;
    color: #ffffff;
    background: radial-gradient(122.69% 531.67% at -11.54% -45%, #2998FF 0%, #29F2FF 100%);
    padding: 15px 20px;
    font-size: 18px;
    bottom: 24vw;
}

.our_company_blocks {
    display: flex;
    margin-top: 75px;
    box-sizing: border-box;
}

.block01, .block02, .block03, .block04, .block05, .block06 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    height: 20vw;
    max-width: 15.8vw;
    cursor: pointer;


}

.block01 {
    background: #EEF2F6;

}

.block_title {
    position: relative;
    width: fit-content;
    padding: 2.3vw 2.2vw;
    text-align: center;
    font-size: 3.5vw;
    margin: 0;
}

.block02 .block_title, .block04 .block_title, .block06 .block_title {
    color: #ffffff;
}

.block02 .block_text, .block04 .block_text, .block06 .block_text {
    color: #ffffff;
}

.block02 img, .block04 img, .block06 img {
    filter: invert(1)
}

.block01 .block_title, .block03 .block_title, .block05 .block_title {
    background: #EEF2F6;
}

.block02 {
    background: url("./assets/img/block02.png") no-repeat;
    background-size: 100%;
}

.block04 {
    background: url("./assets/img/block04.png") no-repeat;
    background-size: 100%;
}

.block06 {
    background: url("./assets/img/block06.png") no-repeat;
    background-size: 100%;
}

.block_footer {
    display: flex;
    justify-content: space-between;
    padding: 0.6vw 1.4vw;
}

.block_footer img {
    position: relative;
    top: 35px;
    width: 4.2vw;
    height: 4.2vw;
}

.block_text {
    width: 183px;
    height: 60px;
    font-size: 1vw;
}

/*-----ADAPTIVE STYLE-----*/

@media (max-width: 1560px) {
    .department {
        display: none;
    }
}

@media (max-width: 855px) {
    .info {
        display: none;
    }
}
