@import "assets/fonts/fonts.css";

body {
    font-family: Circe-Regular, sans-serif;
}

ul {
    padding: 0;
    margin: 0;
}
ul li {
    list-style: none;
}
* {
    box-sizing: border-box;
}

a:active, /* активная/посещенная ссылка */
a:hover, /* при наведении */
a {
    text-decoration: none;
    color: #666;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
}

.hide {
    display: none;
}

/*-----HEADER-----*/

.department_dropped_item {
    display: none;
}
.department_list_item:hover {
    border-bottom: 1px solid black;
    padding-bottom: 3vw;
    /*margin-bottom: 20px;*/
}
.department_list_item:hover .department_dropped_item {
    display: block;
    position: absolute;
    z-index: 99999999999;
}
.department_list_item:hover .down {
    transform: rotate(133deg);
    -webkit-transform: rotate(133deg);
}

.department_dropped_item {
    margin-top: 50px;
    padding: 0 1vw;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    background-color: #ffffff;

}

header {
    padding: 24px 15px 26px 15px;
}

.header_inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    padding: 10px;
}

.department {
    width: 40vw;
    height: 24px;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.department_list_item, .department_item {
    width: 14vw;
    list-style: none;
    font-size: 0.85vw;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
.department_item {
    width: 13vw;
    padding: 5px 0;
    list-style: none;
    font-size: 0.85vw;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.arrow {
    bottom: 2px;
    position: relative;
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    margin-left: 0.7vw;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 452px;

}

.info_item {
    list-style: none;
    color: #008FF4;
    font-size: 16px;
}

.call {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 159px;
    height: 50px;
    border: 1px solid #008FF4;
}

.user_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.user_menu-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    width: 20px;
    opacity: 0.25;
    border: 1px solid #B7B6B8;
    transform: rotate(90deg);
}



/*-----MAIN SLIDER-----*/
main {
    padding: 0px 15px;
}

/*-----MAIN SLIDER-----*/
main {
    padding: 0px 15px;
}
.accordion {
    width: 100%;
    max-width: 1900px;
    overflow: hidden;
    margin: 50px auto;
}
.accordion_items {
    width: 100%;
    display: flex;
    margin: 0;
    justify-content: center;
}
.accordion_item {
    display: table-cell;
    vertical-align: bottom;
    position: relative;
    margin: 0 0.3vw;
    width: 33.33333%;
    height: 47.4vw;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 500ms ease;
}
.hide_inner {
    display: block;
    overflow: hidden;
    width: 100%;
    position: relative;
    top: 18vw;
}
.hide_inner_text {
    width: 100%;
    padding: 15px 20px;
    text-decoration: none;
    transition: all 200ms ease;
}
.hide_inner_text * {
    opacity: 0;
    margin: 0;
    width: 100%;
    text-overflow: ellipsis;
    position: relative;
    z-index: 5;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
}
.accordion_item:nth-child(1) {
    background-image: url('./assets/img/project_full.png');
}
.accordion_item:nth-child(2) {
    background-image: url('./assets/img/build_full.png');
}
.accordion_item:nth-child(3) {
    background-image: url('./assets/img/exploitation_full.png');
}

.accordion_items:hover .accordion_item, .accordion_items:focus-within .accordion_item {
    width: 10%;
}

.accordion_items:hover .slider_title {
    display: none;
}
.accordion_item:focus {
    outline: none;
}
.accordion_items:hover .accordion_item:hover, .accordion_items .accordion_item:focus, .accordion_items:focus-within .accordion_item:focus {
    width: 80%;
}

.accordion_items:hover .accordion_item:hover .hide_inner_text *, .accordion_items .accordion_item:focus .hide_inner_text *, .accordion_items:focus-within .accordion_item:focus .hide_inner_text * {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.accordion_items:hover .accordion_item {
    width: 10% !important;
}
.accordion_items:hover .accordion_item .hide_inner_text * {
    opacity: 0 !important;
}
.accordion_items:hover .accordion_item:hover {
    width: 80% !important;
}

.accordion_items:hover .accordion_item:hover .hide_inner_text * {
    opacity: 1 !important;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
@media screen and (max-width: 600px) {
    body {
        margin: 0;
    }
    .accordion {
        height: auto;
    }
    .accordion_item, .accordion_items:hover .accordion_item, .accordion_items .accordion_item:hover, .accordion_items:hover .accordion_item:hover {
        position: relative;
        display: table;
        table-layout: fixed;
        width: 100%;
        -webkit-transition: none;
        transition: none;
    }
}

.slider_title {
    position: absolute;
    width: 100%;
    font-size: 3vw;
    font-style: normal;
    font-weight: bold;
    color: #ffffff;
    top: 78%;
    text-align: center;
    z-index: 3;
}

.slider_main_title {
    font-size: 6vw;
    font-style: normal;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 3vw;
}

.project-rotate,.build-rotate,.exploitation-rotate {
    font-size: 2.6vw;
    font-style: normal;
    position: relative;
    font-weight: bold;
    color: #ffffff;
    top: 75%;
    text-align: center;
    z-index: 3 !important;
    transform: rotate(-90deg);
}
.project-rotate {
    display: none;
}
.build-rotate{
    display: none;
}
.exploitation-rotate {
    display: none;
}

.change_text {
    font-size: 2.1vw;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
    z-index: 3;
    width: 62vw;
    margin-bottom: 5vw;
}

.change_button {
    font-size: 1.3vw;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
    z-index: 3;
    background: radial-gradient(122.69% 531.67% at -11.54% -45%, #2998FF 0%, #29F2FF 100%);
    width: 20vw;
    height: 3.3vw;
}
.project_checked {
    display: block; /*-----CHANGE NONE on build project!!!!!!-----*/
}/*-----Our company-----*/


.our_company {
    position: relative;
    margin-top: 12.7vw;
    width: 100%;
}

.our_company_title {
    font-size: 4.2vw;
}

.our_company_text {
    width: 59vw;
    font-size: 1.52vw;
    color: #2d2d2deb;

}

.our_company_button {
    position: absolute;
    right: 0;
    color: #ffffff;
    background: radial-gradient(122.69% 531.67% at -11.54% -45%, #2998FF 0%, #29F2FF 100%);
    padding: 15px 20px;
    font-size: 18px;
    bottom: 24vw;
}

.our_company_blocks {
    display: flex;
    margin-top: 75px;
    box-sizing: border-box;
}

.block01, .block02, .block03, .block04, .block05, .block06 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    height: 20vw;
    max-height: 380px;
    width: 15.8vw;
    max-width: 300px;
    cursor: pointer;
}

.block01 {
    background: #EEF2F6;

}

.block_title {
    position: relative;
    width: fit-content;
    padding: 2.3vw 2.2vw;
    text-align: center;
    font-size: 3.5vw;
    margin: 0;
}

.block02 .block_title, .block04 .block_title, .block06 .block_title {
    color: #ffffff;
}

.block02 .block_text, .block04 .block_text, .block06 .block_text {
    color: #ffffff;
}

.block02 img, .block04 img, .block06 img {
    filter: invert(1)
}

.block01 .block_title, .block03 .block_title, .block05 .block_title {
    background: #EEF2F6;
}

.block02 {
    background: url("./assets/img/block02.png") no-repeat;
    background-size: 100%;
}

.block04 {
    background: url("./assets/img/block04.png") no-repeat;
    background-size: 100%;
}

.block06 {
    background: url("./assets/img/block06.png") no-repeat;
    background-size: 100%;
}

.block_footer {
    display: flex;
    justify-content: space-between;
    padding: 0.6vw 1.4vw;
}

.block_footer img {
    position: relative;
    top: 35px;
    width: 4.2vw;
    height: 4.2vw;
}

.block_text {
    width: 183px;
    height: 60px;
    font-size: 1vw;
}


 /*----- Consultation-----*/

.consult {

    margin-top: 12.7vw;
    position: relative;
    height: 37vw;
}
.logo_consult {
    position: relative;
    top: -3vw;
    left: 6vw;
    z-index: 3;
    height: 37vw;
}
.logo_consult img {
    height: 100%;
}

.consult_background {
    height: 30.5vw;
    background: url("./assets/img/bacground_consult.png") no-repeat;
    z-index: 1;
    display: flex;
}

.consult_inner {
    position: absolute;
    left: 35vw;
    width: 56vw;
    max-width: 1064px;
    color: #ffffff;
    margin-top: 1.5vw;
}

.consult_title {
    font-size: 3.3vw;
    letter-spacing: 4px;
}
.consult_text {
    font-size: 1.5vw;
    margin-bottom: 40px;
}

.consult_form-style {
    margin-bottom: 1vw;
}

.consult_phone_input {
    border: none;
    border-bottom: 1px solid #ffffff;
    background: none;
    font-size: 2vw;
    width: 25vw;
    outline:none;
    color: #ffffff;
}

.consult_phone_input:checked {
    border: none;
}
.consult_button {
    margin-left: 1vw;
    font-size: 1.1vw;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
    z-index: 3;
    background: radial-gradient(122.69% 531.67% at -11.54% -45%, #2998FF 0%, #29F2FF 100%);
    width: 11vw;
    height: 3.3vw;
}

.consult_label_text {
    font-size: 1vw;
    color: #BDC7D2;
}
.consult_phone_input::placeholder {
    color: #ffffff;
    font-family: 'Circe-ExtraLight'
}
.consult_checkbox:checked,
.consult_checkbox:not(:checked)
{
    position: absolute;
    left: -9999px;
}

.consult_checkbox:checked + .consult_label_text,
.consult_checkbox:not(:checked) + .consult_label_text {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

.consult_checkbox:checked + .consult_label_text:before,
.consult_checkbox:not(:checked) + .consult_label_text:before{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 16px;
    height: 16px;
    border: 1px solid #dddddd;
    background-color: #d3cbcb;
}

.consult_checkbox:checked + .consult_label_text:before,
.consult_checkbox:not(:checked) + .consult_label_text:before {
    border-radius: 2px;
}


.consult_checkbox:checked + .consult_label_text:after,
.consult_checkbox:not(:checked) + .consult_label_text:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.consult_checkbox:checked + .consult_label_text:after,
.consult_checkbox:not(:checked) + .consult_label_text:after {
    left: 2px;
    top: 2px;
    width: 12px;
    height: 12px;
    border: 1px solid black;
    background: radial-gradient(376.15% 1137.3% at -162.5% -105.32%, #2998FF 0%, #29F2FF 100%),linear-gradient(
            0deg, #C4C4C4, #C4C4C4);
}


.consult_checkbox:not(:checked) + .consult_label_text:after {
    opacity: 0;
}

.consult_checkbox:checked + .consult_label_text:after{
    opacity: 1;
}

/*----- Our progress-----*/

.our_progress {

}
.our_progress_title_inner {
    display: flex;
    position: relative;
}
.our_progress_line {
    position: relative;
    bottom: 4.6vw;
    width: 23vw;
    border-bottom: 1px solid #1A181E;
    margin-right: 10px;
}
.our_progress_title {
    font-size: 4.2vw;
}
.our_progress_inner {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
}
.our_progress_inner_item {
    position: relative;
    width: 23.2vw;
    max-height: 470px;
    background: #EEF2F6;
    margin: 10px 10px;
}
.our_progress_item1 {
    position: relative;
    left: 50%;
}
.our_progress_img_bgi {
    width: 12.62vw;
    max-width: 210px;

}
.our_progress_img_bgi5 {
    width: 23.5vw;
    max-width: 430px;
}
.our_progress_inner_item .img {
    position: relative;
    margin-top: 3vw;
    margin-left: 1.5vw;
    margin-bottom: 6vw;
    width: 5.37vw;
}
.our_progress_inner_item p:nth-child(even) {
    font-size: 1.25vw;
    margin: 0 0 0 1.6vw;
}
.our_progress_inner_item p:nth-child(3) {
    font-size: 4.2vw;
    margin: 0 0 0 1.6vw;
}

.our_progress_inner_item:nth-child(1), .our_progress_inner_item:nth-child(5) {
    background: #ffffff;
}
.our_progress_inner_item:nth-child(2), .our_progress_inner_item:nth-child(4) {
    /*flex-grow: 1;*/
    width: 45.16%;
}

/*-----Our projects slider-----*/

.our_projects {
    position: relative;
    margin-top: 12.7vw;
    width: 100%;
}
.our_projects_title_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.our_projects_button {
    color: #ffffff;
    background: radial-gradient(122.69% 531.67% at -11.54% -45%, #2998FF 0%, #29F2FF 100%);
    padding: 15px 20px;
    font-size: 18px;
    height: 50px;
}
.image-slider {
position: relative;
overflow: hidden;
}
.image-slider_wrapper {
    display: flex;
}
.image-slider_slide {
margin: 0 5px;
    align-self: center;

}
.image-slider_image {
text-align: center;
width: fit-content;

}
.image-slider_image p {
    z-index: 3;
    position: absolute;
    color: #ffff;
    max-width: 527px;
    font-size: 1.9vw;
    bottom: 0;
    margin: 0 0 2vw 1vw;
    text-align: initial;
}
.image-slider_image img {
max-width: 100%;
    z-index: 1;
}

.slider-button-next {
position: absolute;
right: 11vw;
bottom: 5vw;
z-index: 5;
}
.slider-button-next img {
width: 8vw;
}

/*-----Height corporate standards-----*/
.standards{
    margin-top: 12.7vw;
}

.standards_inner {
    display: flex;
    justify-content: space-between;
}
.standards_item {
    width: 24vw;
    max-width: 450px;
    position: relative;
    padding: 10px;
}
.standards_item img{
    width: 100%;
}

.standards_title{
    font-size: 1.54vw;
    margin-bottom: 10px;
}
.standards_title, .standards_text {
   position: absolute;
    top: 36%;
    padding: 0 2vw;
}
.standards_text {
    position: absolute;
    font-size: 1.1vw;
    color: #68646F;
    top: 58%;
    line-height: initial;
}

/*-----Our objects-----*/

.our_objects {
    margin-top: 8.7vw;
}

.our_objects_text {
    font-size: 1.9vw;
    padding-left: 24vw;
}
.city_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 24vw;
    margin-bottom: 5vw;
    max-width: 1311px;
}
.city_item {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-top: 3px;
    margin-bottom: 3px;
    border-bottom: 1px solid #EEF2F6;
    width: 22vw;
    max-width: 411px;
    font-size: 1.08vw;
    height: 2vw;
}
.city_item:hover {
    font-weight: bold;
     background: #F9FAFB;
    padding-left: 10px;
 }


.arrow_right_city {
    display: none;
    position: relative;
    top: 3px;
    width: 1vw;
    height: 0.8vw;
    margin-right: 8px;
}
.city_item:hover .arrow_right_city {
    display: block;
}

.city_item a {
    padding: 3.5px 0;

}

/* -----map style-----*/

.ya_map {
    font-size: 12px;
    color: #454545;
}

#map {
    width: 100%;
    height: 38vw;
    margin: 0 auto;
}

.ymaps-2-1-79-balloon {
    position: absolute;
    z-index: 1;
    padding: 1px;
    box-shadow: inset 0 0 0 1px rgb(0 0 0), 0 5px 15px -7px rgb(0 0 0);
}

.map-slider {
    position: relative;
    overflow: hidden;
    z-index: 99999;
}
.map-slider_wrapper {
    display: flex;
}
.map-slider_slide {
    margin: 0 5px;
    align-self: center;

}
.map-slider_image {
    text-align: center;
    width: fit-content;

}

.map_control{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    align-items: center;
    background: rgba(20, 28, 37, 0.75);
    box-shadow: 0px 10px 20px rgba(20, 28, 37, 0.25);
}

.map_text {
    color: #ffffff;
    max-width: 527px;
    font-size: 0.9vw;
    bottom: 0;
    padding: 0 0 0vw 1vw;
    text-align: initial;
}
.map_button_img img {
    max-width: 100%;
}

.map_button_img {
    left: 17vw;
}
.slider-button-next img {
    width: 8vw;
}

.map-slider .swiper-pagination {
    bottom: 0;
}
.map-slider .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    background-color: #bf0e0e;
}

.map-slider .swiper-pagination-fraction {
    font-size: 20px;
    background-color: #bf0e0e;
}

/*-----Career-----*/

.career_inner {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 12.7vw;
}
.career_bg {
    display: flex;
    position: absolute;
    background-color: #EEF2F6;
    width: 73.7vw;
    height: 52.7vw;
    right: 0;
    z-index: 1;
}
.career {
    position: relative;
    z-index: 4;
    padding: 11vw 1vw 0 4vw;
    width: 100%;
}

.career h3 {
    margin: 0;
}
.career_inner div img {
    position: relative;
    top: 7vw;
    width: 43.2vw;
    z-index: 4;
}
.career p {
    font-size: 1.25vw;
    color: #68646F;
    margin-bottom: 4vw;
    line-height: initial;
}
.social {
    align-self: auto;
    width: 57%;
}
.social h3, .career h3{
    font-size: 4.2vw;
}
.career_button {
    position: relative;
    right: 0;
    color: #ffffff;
    background: radial-gradient(122.69% 531.67% at -11.54% -45%, #2998FF 0%, #29F2FF 100%);
    padding: 1vw 1vw;
    font-size: 1.1vw;
}

.career_text {
    display: flex;
    justify-content: space-between;
}
.career_text div h4 {
    font-size: 2.2vw;
}
.career_text div p {
    font-size: 1.08vw;
}
.company_mission, .company_values {
    flex-basis: 47%;
}

/*-----Social-----*/

.social_inner {
    display: flex;
    justify-content: space-between;
}
.social_img img {
    position: relative;
    z-index: 4;
    width: 35.53vw;
    margin-right: 3vw;
}
.social_text {
    padding: 0 2vw;
    font-size: 1.25vw;
    color: #68646F;
    margin-bottom: 4vw;
    line-height: initial;
}

.social_text-first {
    margin-bottom: 2vw;
}

/*-----Fake news-----*/
.news{
    margin-top: 8vw;
}

.news_title_inner {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}
.news_title_style {
    display: flex;
}
.news_line {
    position: relative;
    bottom: 4.6vw;
    width: 23vw;
    border-bottom: 1px solid #1A181E;
    margin-right: 10px;
}

.news_filters {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 24.5vw;
    height: 3.2vw;
    border: 1px solid #000;
    border-radius: 2vw;
    padding: 5px 0;
}

.filters_button {
    color: #000000;
    padding: 1vw 1vw;
    font-size: 1vw;
}

.filters_button:hover {
    cursor: pointer;
    background-color: #000000;
    color: #ffffff;
    border-radius: 2vw;
}

.news-slider {
    position: relative;
    overflow: hidden;
}
.news-slider_wrapper {
    display: flex;
}
.news-slider_slide {
    margin: 0 5px;

}
.news-slider_image {
    text-align: center;
    width: fit-content;

}
.newsDate {
    position: absolute;
    font-size: 1.27vw;
    padding: 1.8vw;
    margin: 0 0 0 4.5vw;
    background: rgba(20, 28, 37, 0.75);
    color: #ffffff;
}
.newsText {
    z-index: 3;
    color: #000000;
    max-width: 527px;
    font-size: 1.5vw;
    bottom: 0;
    margin: 1.8vw 1.6vw 2.8vw 1.6vw;
    text-align: initial;
}
.news-slider_image img {
    max-width: 100%;
    z-index: 1;
}
.news-slider_wrapper_control {
    display: flex;
    justify-content: center;
}
.news-button-prev img , .news-button-next img {
    width: 3.5vw;
}
.news-slider .news-pagination {
    bottom: 0;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1vw;
}

.news-slider_wrapper_control .swiper-pagination-bullet {
    width: 1vw;
    height: 1vw;
    background-color: #000000;
    margin: 0 0.2vw !important;
}

/*-----Question-----*/

.question {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: url("./assets/img/question/questiom_bg.png");
    margin-top: 14.5vw;
}
.question_title {
    width: 30.5vw;
    max-width: 579px;
    margin-top: 3vw;
}
.question_title h2 {
    font-size: 6.3vw;
    color: #ffffff;
    margin: 0;
    line-height: 6vw;
    letter-spacing: 0.3vw;
}
.question_title p {
    font-size: 1.65vw;
    color: #A2AFBD;
}
.question_img img{
    width: 18.4vw;
}
.question_form-style {
    margin-bottom: 1vw;
}
.question_form form div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 3vw;
}

.question_phone_input {
    border: none;
    border-bottom: 1px solid #ffffff;
    background: none;
    font-size: 2vw;
    width: 23vw;
    outline: none;
    color: #ffffff;
    margin-bottom: 2vw;
}

.question_phone_input:checked {
    border: none;
}
.question_button {
    margin-left: 1vw;
    font-size: 1.1vw;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
    z-index: 3;
    background: radial-gradient(122.69% 531.67% at -11.54% -45%, #2998FF 0%, #29F2FF 100%);
    width: 11vw;
    height: 3.3vw;
}

.question_label_text {
    font-size: 1vw;
    color: #BDC7D2;
}

.question_checkbox:checked,
.question_checkbox:not(:checked)
{
    position: absolute;
    left: -9999px;
}

.question_checkbox:checked + .question_label_text,
.question_checkbox:not(:checked) + .question_label_text {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

.question_checkbox:checked + .question_label_text:before,
.question_checkbox:not(:checked) + .question_label_text:before{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 16px;
    height: 16px;
    border: 1px solid #dddddd;
    background-color: #d3cbcb;
}

.question_checkbox:checked + .question_label_text:before,
.question_checkbox:not(:checked) + .question_label_text:before {
    border-radius: 2px;
}


.question_checkbox:checked + .question_label_text:after,
.question_checkbox:not(:checked) + .question_label_text:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.question_checkbox:checked + .question_label_text:after,
.question_checkbox:not(:checked) + .question_label_text:after {
    left: 2px;
    top: 2px;
    width: 12px;
    height: 12px;
    border: 1px solid black;
    background: radial-gradient(376.15% 1137.3% at -162.5% -105.32%, #2998FF 0%, #29F2FF 100%),linear-gradient(
            0deg, #C4C4C4, #C4C4C4);
}


.question_checkbox:not(:checked) + .question_label_text:after {
    opacity: 0;
}

.question_checkbox:checked + .question_label_text:after{
    opacity: 1;
}

/*-----Footer-----*/
.footer_inner {
    font-size: 0.84vw;
}

.footer_social, .footer_company_links, .footer_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_social, .footer_company_links {
    margin-top: 1vw;
}
.footer_social .header_logo img {
    width: 6vw;
}

.footer_social-links {
    display: flex;
}
.privacy_policy{
    color: #C1C1C1;
    border-bottom: 1px solid #C1C1C1;
    margin-right: 1vw;
}

.footer_bottom-items {
    padding-right: 1vw;
}
.footer_bottom-items:first-child {
    border-right: 1px solid #FAFBFC;
}
.footer_link-item {
    position: relative;
    background-color: #FAFBFC;
}
.faq_img {
    margin-left: 1vw;
}
.faq_img img{
    position: relative;
    top: 0.3vw;
}


/* -----Callback modal----- */
.callback_btn {
   }


.callback_modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /*overflow: auto; !* Enable scroll if needed *!*/
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    backdrop-filter: blur(8px);
    max-height: 100vh;
    overflow: hidden
}


.modal-content {
    position: relative;
    display: flex;
    background-color: #ffffff;
    margin: auto;
    padding: 0;
    /*border: 5px solid #7B1FA2;*/
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.modal_tittle {
    font-size: 2.54vw;
}

.modal_input {
    border: none;
    border-bottom: 1px solid #000000;
    background: none;
    font-size: 1.6vw;
    width: 23vw;
    outline: none;
    color: #000000;
    margin-bottom: 2vw;
}
.modal_input:checked {
    border: none;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    width: 23vw;
    padding: 1vw 0;
    border: none;
    background-color: #EEF2F6;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-size: 0.95vw;
}
.custom-file-upload img {
    position: relative;
    top: 0.4vw;
    width: 1.58vw;
}
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.modal_img img {
    width: 24.5vw;
}

.modal_submit {
    margin: 1vw 0;
    font-size: 1.1vw;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
    z-index: 3;
    background: radial-gradient(122.69% 531.67% at -11.54% -45%, #2998FF 0%, #29F2FF 100%);
    width: 11vw;
    height: 3.3vw;
}
.close {
    position: absolute;
    right: 0;
    color: #040404;
    font-size: 2vw;
    border: 1px solid #000000;
    border-radius: 1vw;
    width: 2vw;
    height: 2vw;
    margin: 1vw;
    text-align: center;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-body {padding: 6vw 1vw;}

/*-----ADAPTIVE STYLE-----*/

@media (max-width: 1698px) {
    .consult_title {
        font-size: 3.2vw;
    }
}

@media (max-width: 1560px) {
    .department {
        display: none;
    }
}

@media (max-width: 1120px) {
    .consult_inner {
        margin-top: 0;
    }
}

@media (max-width: 855px) {
    .info {
        display: none;
    }
    .consult_text {
        margin-bottom: 10px;
    }
}

@media (max-width: 479px) {
    .user_menu {
        font-size: 0;
    }
    .logIn {
        display: none;
    }
    .line {
        display: none;
    }
    .our_company_button {
        display: none;
    }
    .our_company_blocks{
        flex-direction: column;
    }
    .our_company_text {
        width: 100%;
        font-size: 4.52vw;
    }
    .block01, .block02, .block03, .block04, .block05, .block06 {
        display: flex;
        height: 76vw;
        max-height: 260px;
        width: 93.8vw;
        max-width: 320px;
    }
    .block01, .block03, .block05 {
        background: #EEF2F6;
    }
    .block_title {
        padding: 9.3vw 11.2vw;
        font-size: 11.5vw;
        margin: 0;
    }
    .block_text {
        font-size: 5vw;
    }
    .block_footer img {
        width: 17.2vw;
        height: 17.2vw;
    }
    .our_company_title {
        font-size: 8.2vw;
    }
    .standards_inner {
        display: block;
    }
    .standards_item {
        width: 90vw;
        max-width: 320px;
    }
    .standards_title {
        font-size: 5.54vw;
    }
    .standards_text {
        font-size: 4.1vw;
    }
    .career {
        padding: 11vw 1vw;
    }
    .career_inner {
         display: block;
        position: relative;
        margin-top: 12.7vw;
    }
    .career_bg {
        position: absolute;
        background-color: #EEF2F6;
        width: 84.7vw;
        height: 221.7vw;
    }
    .career_inner div img {
        top: -5vw;
        width: 78.2vw;
        left: 6vw;
    }

    .career_button {
        padding: 2vw 28vw;
        font-size: 4.1vw;
    }
    .career_text{
        display: block;
        position: relative;
        top: 3vw;
    }
    .career p {
        font-size: 4.1vw
    }
    .career_text div h4 {
        font-size: 5.2vw;
    }
    .career_text div p {
        font-size: 4.1vw;
    }
    .social {
        width: 100%;
    }
    .social_inner {
        flex-direction: column;
        margin-top: 10vw;
    }
    .social_img {
        order: -1;
    }
    .social_img img {
        width: 84.3vw;
        right: 2.4vw;
    }
    .social h3, .career h3 {
        font-size: 10.2vw;
    }
    .social_text {
        font-size: 4.1vw;
    }
    .question {
        display: block;
    }
    .question_img {
        text-align: end;
    }
    .question_img img {
        width: 41.4vw;
    }
    .question_title {
        position: relative;
        width: 100%;
        margin: 0 6vw;
        bottom: 38vw;
    }
    .question_title h2 {
        font-size: 13.3vw;
        line-height: 9vw;
        letter-spacing: 1.3vw;
    }
    .question_title p {
        font-size: 5.65vw;
    }
    .question_phone_input {
        font-size: 5vw;
        width: 77vw;
        margin-bottom: 9vw;
    }
    .question_form {
        position: relative;
        bottom: 30vw;
    }
    .question_form form div {
        padding: 0 3vw;
        text-align: center;
    }
    .question_button {
        position: relative;
        bottom: 8vw;
        font-size: 4.1vw;
        width: 88%;
        margin: 0 6%;
        height: 8.3vw;
    }
    .question_checkbox:checked + .question_label_text:after, .question_checkbox:not(:checked) + .question_label_text:after {
        width: 3vw;
        height: 3vw;
    }
    .question_checkbox:checked + .question_label_text:before, .question_checkbox:not(:checked) + .question_label_text:before {
        width: 4vw;
        height: 4vw;
    }
    .question_label_text {
        font-size: 3.3vw;
    }
    .question_checkbox:checked + .question_label_text, .question_checkbox:not(:checked) + .question_label_text {
        margin: 0 5%;
        top: 12vw;
    }
    .footer_social .header_logo img {
        width: 23vw;
    }




}
