@font-face {
    font-family: 'font534ec7d59fae6ac015a8491928d1f159';

    src:    url('https://nomail.com.ua/files/eot/534ec7d59fae6ac015a8491928d1f159.eot?#iefix') format('embedded-opentype'),
    url('https://nomail.com.ua/files/woff/534ec7d59fae6ac015a8491928d1f159.woff') format('woff'),
    url('https://nomail.com.ua/files/woff2/534ec7d59fae6ac015a8491928d1f159.woff2') format('woff2');
}

@font-face { font-family: 'Circe-Regular';  src: local('Circe-Regular'), url('https://nomail.com.ua/files/woff/534ec7d59fae6ac015a8491928d1f159.woff') format('woff'); }


@font-face {
    font-family: 'font208f1642b4f4c1bd8b66d7c7f56b5579';

    src:    url('https://nomail.com.ua/files/eot/208f1642b4f4c1bd8b66d7c7f56b5579.eot?#iefix') format('embedded-opentype'),
    url('https://nomail.com.ua/files/woff/208f1642b4f4c1bd8b66d7c7f56b5579.woff') format('woff'),
    url('https://nomail.com.ua/files/woff2/208f1642b4f4c1bd8b66d7c7f56b5579.woff2') format('woff2');
}

@font-face { font-family: 'Circe-Bold';  src: local('Circe-Bold'), url('https://nomail.com.ua/files/woff/208f1642b4f4c1bd8b66d7c7f56b5579.woff') format('woff'); }


@font-face {
    font-family: 'font7e553a6c0bf3a0622f0a2459c640b17e';

    src:    url('https://nomail.com.ua/files/eot/7e553a6c0bf3a0622f0a2459c640b17e.eot?#iefix') format('embedded-opentype'),
    url('https://nomail.com.ua/files/woff/7e553a6c0bf3a0622f0a2459c640b17e.woff') format('woff'),
    url('https://nomail.com.ua/files/woff2/7e553a6c0bf3a0622f0a2459c640b17e.woff2') format('woff2');
}

@font-face { font-family: 'Circe-ExtraBold';  src: local('Circe-ExtraBold'), url('https://nomail.com.ua/files/woff/7e553a6c0bf3a0622f0a2459c640b17e.woff') format('woff'); }

@font-face {
    font-family: 'font73b8b3e4cd98276d9c6027f37eabb6c6';

    src:    url('https://nomail.com.ua/files/eot/73b8b3e4cd98276d9c6027f37eabb6c6.eot?#iefix') format('embedded-opentype'),
    url('https://nomail.com.ua/files/woff/73b8b3e4cd98276d9c6027f37eabb6c6.woff') format('woff'),
    url('https://nomail.com.ua/files/woff2/73b8b3e4cd98276d9c6027f37eabb6c6.woff2') format('woff2');
}

@font-face { font-family: 'Circe-ExtraLight';  src: local('Circe-ExtraLight'), url('https://nomail.com.ua/files/woff/73b8b3e4cd98276d9c6027f37eabb6c6.woff') format('woff'); }

